.headerText{
    font-size: 6rem;
    font-weight: 800;
    display: none;
}

@media (min-width: 768px) {
    .headerText{
        font-size: 6rem;
        font-weight: 800;
        display: block;
    }
}

@media (min-width: 1024px){
    .headerText{
        font-size: 6rem;
        font-weight: 800;
        display: block;
    }
}

@media (min-width: 1280px) {
    .headerText{
        font-size: 10rem;
        font-weight: 800;
        display: block;
    }
}


